@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,600);

h1{
	font-family: $Lora;
	text-align: center;
}

h2, h3{
	font-family: $OpenSans;
}

p{
	font-family: $OpenSans;
	color: grey;
	font-weight: 300;
}

[data-key="jqxscheduler_0"] {
	span{
		display:none;
	}
}

.invisible-small{ //hide things with this class on small screens
	@include breakpoint(small only) { display: none; }
}

.button{
	background-color: $main-theme-color;
	font-family: $OpenSans;
	letter-spacing: 0.5px;
	&:hover, &:active, &:focus {
		background-color: $main-theme-darker2;
		outline: 0;
	}
	&.round{
		border-radius: 20px;
	}
	&.disabled {
		pointer-events: none;
	}
}
.round-button{ border-radius: 20px; }

// ******** NAVIGATION BAR *********
nav {
	z-index: 999;
	width: 100%;
	height: $nav-height;
	margin: 0px;
	margin-bottom: 40px;
	background: $main-theme-color;
	position: fixed;
	top: 0;

	.button{
		background-color: $main-theme-color;
		&:hover, &:active, &:focus {
			background-color: $main-theme-darker2;
		}
	}

	/* Dropdown menu */
	.dropdown {
		position: absolute;
		right: 0;
	    display: inline-block;

	    &:hover .dropdown-content {	//display options upon hover
	    	display: block;
	    }
	}

	.dropdown-content {
		text-align: right;
		right: 5px;
	    display: none;
	    position: absolute;
	    top: $nav-height;
	    background-color: #f9f9f9;
	    min-width: 140px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

	    a {
	    	color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;

		    &:hover {
		    	background-color: #f1f1f1;
		    }
	    }
	}
} // *** END NAVIGATION BAR ***
