.editUser{
	padding-top: 40px + $nav-height;	// want some amount of space between bottom of nav bar and top of real content
	#edituser_response{
		&.responded{
			opacity: 1;
			display: block;
		}
		@include transition(all 1s ease-in-out);
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		background-color: $main-theme-darker1;
		color: white;
		font-weight: 400;
		border-radius: 5px;
		opacity:0;
		display: none;
	}
}