#addClassModal{
	background: rgba(255,255,255,0.95);
	border: 1px solid $main-theme-lighter3;
	&:focus{
		outline: none;
	}
}


.edit-schedule-container{
	min-height: 100vh;
	width: 100vw;
	margin-top: $nav-height;	// NECESSARY: avoid overlap with nav bar
	padding-top: 40px;	// want some amount of space between bottom of nav bar and top of real content
}