#addclass{
	position: relative;
	background: $main-theme-lighter3;
	min-height: 600px;
	padding: 10px;
}

.calendar{
	background: $main-theme-darker1;
	min-height: 600px;
	padding: 10px;
}

.close-menu{
	position: absolute;
	top: 0;
	right: 0;

	i {
		color: $main-theme-darker1;
		&:hover {
			color: main-theme-darker3;
		}
	}
}

.edit-schedule-container{
	min-height: 100vh;
	width: 100vw;
	margin-top: $nav-height;	// NECESSARY: avoid overlap with nav bar
	padding-top: 40px;	// want some amount of space between bottom of nav bar and top of real content
}