// Insert your mixins
@mixin translate_y($dispacement){
	-webkit-transform: translateY($dispacement);
    -moz-transform: translateY($dispacement);
    -o-transform: translateY($dispacement);
    transform: translateY($dispacement);
}

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}