// Insert your mixins
@mixin translate_y($dispacement){
	-webkit-transform: translateY($dispacement);
    -moz-transform: translateY($dispacement);
    -o-transform: translateY($dispacement);
    transform: translateY($dispacement);
}

@mixin transition($transition) {
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}


@mixin boxshadow(){
	-webkit-box-shadow: 0px 10px 49px -12px rgba(0,0,0,1);
	-moz-box-shadow: 0px 10px 49px -12px rgba(0,0,0,1);
	box-shadow: 0px 10px 49px -12px rgba(0,0,0,1);
}