// Display schedules as a grid list
ul.grid{

	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;

	li {
		margin: 50px;
		color: #000000;
		display: table-cell; 
		vertical-align: middle;
		width: $schedule-box-size;
		height: $schedule-box-size;
		border: 2px solid $main-theme-lighter3;
		&:hover{ border: 2px solid $main-theme-darker1; }
	}	

}

.main{
	margin-top: $nav-height;	// NECESSARY: avoid overlap with nav bar
	padding-top: 40px;	// want some amount of space between bottom of nav bar and top of real content
}

.padded{
	padding: 30px 0px;
}