// Colors from here: http://www.color-hex.com/color/f75e52
$main-theme-color	: #F75E52;
$main-theme-darker1	: #de5449;
$main-theme-darker2	: #c54b41;
$main-theme-darker3	: #ac4139;
$main-theme-lighter1: #f76e63;
$main-theme-lighter2: #f87e74;
$main-theme-lighter3: #f98e85;

$schedule-box-size	: 150px;
$nav-height			: 40px;

$OpenSans			: 'Open Sans', Helvetica, serif;
$Lora				: 'Lora', Helvetica, serif;