<div class="home" ng-controller='HomeController'>
	<div class="home_container">
	    <button ng-click="open_body()">
	    	<img src="./data/images/home_logo.svg" alt="Avatar" /> 
		</button>
		<div class="body_container">
			<div class="header">
			<h1>Scheduler</h1>
			<p>The ultimate website to schedule your classes </p>
			</div>
			<div class="loginWrapper">
				<button class="button login_btn" ng-click="open_loginForm()">Log In</button>
				<form data-abide ng-submit="loginForm.$valid && login()" name="loginForm" class="login_Form">
					<input type="text" required ng-model="login_email" placeholder="Email">
					<input type="text" required ng-model="login_password" placeholder="Password">
					<button class="button" type="submit" id="submit" value="Submit" >Log In</button>
					<button class="button exit" type="reset" ng-click="close_loginForm()">
						Cancel
					</button>
				</form>
			</div>

			<div class="signupWrapper">
				<button class="button signup_btn" ng-click="open_signupForm()">Sign Up</button>
				<form data-abide ng-submit="signupForm.$valid && addUser()" name="signupForm" class="signup_Form">
					<input type="text" required ng-model="signup_email" placeholder="Email">
					<input type="text" required ng-model="signup_name" placeholder="Name">
					<input type="text" required ng-model="signup_password" placeholder="Please create a password">
					<input type="text" required placeholder="Please re-enter your password">
					<button class="button" type="submit" id="submit" value="Submit" >Sign Up</button>
					<button class="button exit"  type="reset" ng-click="close_signupForm()">
						Cancel
					</button>
				</form>
			</div>
		</div>
	</div>
</div>