<script src="./foundation6_lib/js/foundation.min.js"></script>

<div class="edit-schedule-container" ng-controller='EditScheduleController'>


<!--Header-->
	<div class="row text-center">
		<h1>{{ schedule.name }}</h1>
		<a data-open="addClassModal" class="button">Add Class</a>
	</div>


<!-- Add Class Modal -->
	<div class="reveal" id="addClassModal" data-reveal>
	  <h1>Add Class</h1>
	  <p class="lead">Your couch. It is mine.</p>
	  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
	  <button class="close-button" data-close aria-label="Close modal" type="button">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>


<!-- Calendar -->
	<body class='default'>
	    <div id="scheduler"></div>
	</body>


<!---- Navigation Bar ---->
    <nav>
        <a class="button" href="#/home">SCHEDULER</a>
        <a class="button" href="#/createschedule">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="invisible-small"> Create Schedule</span>
        </a>
        <a class="button" href="#/myschedules">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="invisible-small"> My Schedules</span>
        </a>

            <span class="dropdown">
        <a class="dropbutton button"> 
            {{ user.name }} <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
         <div class="dropdown-content">
            <a href="#/edituser">Edit Account</a>
            <a ng-click="logout()">Log Out</a>
          </div>
        </span>
    </nav>
 <!---- End Navigation Bar ---->

</div>